.outerContainer {
  background-color: #FF9BA8;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.innerContainer {
  background-color: #F44A79;
  width: 50%;
  margin: 2em auto;
  padding: 5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5em;
  color: #F5F5F5;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .innerContainer {
    width: 95%;
  }

  .title {
    font-size: 3em;
  }
  
}

.colorButtons button {
  margin: 1em;
  padding: 1em;
  border-radius: 30px;
  font-size: 1.5em;
  background-color: #F5F5F5;
  color: #F44A79;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid;
}

.colorButtons button:hover {
  background-color: rgb(255, 126, 163);
  color: #F5F5F5;
  transform: scale(1.2);
}

.redButton:hover {
  border-color: #ff0404;
}

.greenButton:hover {
  border-color: #00ff00;
}

.blueButton:hover {
  border-color: #0000ff;
}